html {
    box-sizing: border-box;
    font-family:'New Tegomin';
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image:url(silvana-amicone-aCHBgtcE7D8-unsplash.jpg);
}

html, body {
    margin: 0;
}

@keyframes pulse {
    0% {color: rgba(209, 9, 9, 0); text-shadow: 3px 3px 5px rgb(92, 92, 255, 0), -2px -2px 4px rgb(245, 245, 245, 0);}
    33% {color: rgb(10, 10, 10, 0.25); text-shadow: 3px 3px 5px rgba(102, 19, 141, 0.25), -2px -2px 4px rgb(245, 245, 245, 0.25);}
    66% {color: rgb(10, 10, 10, 0.5); text-shadow: 3px 3px 5px rgba(222, 92, 255, 0.5), -2px -2px 4px rgb(245, 245, 245, 0.5);}
    100% {color: rgb(10, 10, 10, 0.75); text-shadow: 3px 3px 5px rgba(222, 92, 255, 0.5), -2px -2px 4px rgb(245, 245, 245);}
}

@keyframes bgpulse {
    0% {background-color: rgb(0, 0, 0, 0.3);}
    50% {background-color: rgb(0, 0, 0, 0.15);}
    100% {background-color: rgb(0, 0, 0, 0);}
}

.haunt {
    color: rgb(10, 10, 10, 0.5);
    font-family: 'New Tegomin';
    letter-spacing: 1rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    
    animation: pulse 4s linear infinite alternate-reverse;
}

.haunt2 {
    
    color: rgb(10, 10, 10, 0.8);
    font-family: 'New Tegomin';
    
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(222, 92, 255, 0.5), -2px -2px 4px rgb(245, 245, 245);
    /*animation: pulse 4s linear infinite alternate-reverse;*/
}

.motherbox {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/*.left {
    grid-area: 2 / 1 / 3 / 2;
    background-color: black;
    height: 800px;
    width: 400px;
    margin-left: 100px;
    border-radius: 10px;
    color:rgb(245, 245, 245);
    line-height: 3rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgb(92, 92, 255);
    font-size: 1.5rem;
}*/

.header {
    grid-area: 1 / 2 / 1 / 3;
}

/*.enter {
    grid-area: 3 / 2 / 3 / 3;
    
    
}

button {
    background-color: rgba(150, 148, 148, 0.3);
    box-shadow: 3px 3px 3px black;
    color: rgba(64, 22, 75, 0.5);
    height: 40px;
    width: 100px;
    font-size: 1.5rem;
    font-family:fantasy;
    
    letter-spacing: 1px;
    border-radius: 5px;
    text-align: center;
}

button:hover {
    font-size: 1.75rem;
    
    cursor: pointer;
    height: 50px;
    width: 110px;
    transition: height .5s ease-in-out, width .5s ease-in-out, font-size .5s ease-in-out;
}

button:active {
    box-shadow: 0px 0px 0px black;
    color: rgb(253, 78, 209, 0.5);
}*/
